<a href="https://colab.research.google.com/github/ldocarvalho/portals-bias/blob/main/portals_bias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Data

In [1]:
import pandas as pd

In [2]:
df_names = ["Source","Title","Content","Bias"]
df_news_aggregator = pd.read_csv('https://raw.githubusercontent.com/ldocarvalho/portals-bias/main/Dataset/News-Aggregator-14/news-aggregator.csv?token=AKX52J7EV5Y2TFAPAPLJ3Q3BYDMV2', names = df_names, skiprows = 1, header = None)
df_news_aggregator

                   Source  ...          Bias
0                 wsj.com  ...  right-center
1                 wsj.com  ...  right-center
2           seattlepi.com  ...   left-center
3          techcrunch.com  ...   left-center
4           valuewalk.com  ...  right-center
...                   ...  ...           ...
1795          newsone.com  ...   left-center
1796          twitchy.com  ...         right
1797          twitchy.com  ...         right
1798  austinchronicle.com  ...          left
1799    powerlineblog.com  ...         right

[1800 rows x 4 columns]

In [5]:
df_news_july = pd.read_csv('https://raw.githubusercontent.com/ldocarvalho/portals-bias/main/Dataset/News-July-19/news-july.csv?token=AKX52J5KQ3NIC6K7PWM7XPLBYDNKA', names = df_names, skiprows = 1, header = None)
df_news_july

            Source  ...         Bias
0     berkeleyside  ...  left-center
1     berkeleyside  ...  left-center
2     berkeleyside  ...  left-center
3     berkeleyside  ...  left-center
4     berkeleyside  ...  left-center
...            ...  ...          ...
4955      theblaze  ...        right
4956      theblaze  ...        right
4957      theblaze  ...        right
4958      theblaze  ...        right
4959      theblaze  ...        right

[4960 rows x 4 columns]

### 2. Text Pre-processing

In [6]:
def to_lower(text):
  return text.lower()

In [7]:
import re

def remove_numbers(text):
  return re.sub(r'\d+', '', text)

In [8]:
import string
import numpy as np

def remove_puctuation(text):
  symbols = "!\"#$%&()'*+-.,—/:;<=>?@[\]^_`{|}~\n“‘"
  for i in symbols:
    text = text.replace(i, '')
  return text

In [9]:
def preprocess(data):
    data = to_lower(data)
    data = remove_puctuation(data)
    data = remove_numbers(data)
    return data

In [10]:
data = df_news_aggregator.iloc[3]['Content']
data = preprocess(data)
data

'the war of words between ebay and its new shareholder carl icahn continues to rage on today ebay issued a notice of an upcoming annual meeting in which the company asked shareholders flat out to vote against icahn’s proposal to spin off paypal meanwhile icahn issued yet another open letter against current ebay management in which he accused ceo john donahoe of inexcusable incompetence” that cost stockholders  billion carl icahn has also proposed adding two employees from the icahn group to ebay’s board icahn currently owns  of ebay as of february  ebay has also asked shareholders to reject that proposal on the subject of new board members ebay notes the board of directors does not endorse any icahn group nominee or the icahn proposal and unanimously recommends that you vote on the white proxy card or voting instruction form for all’ of the nominees proposed by the board of directors and against’ the icahn proposal” michael r jacobson company secretary writes in the sec filing the board of directors strongly urges you not to sign or return any proxy card sent to you by the icahn group” and on the subject of the spinoff proposal it is equally unequivocal the board has carefully considered this proposal and has unanimously agreed that spinning off the payments segment paypal into a separately traded public company would not be in the best interests of ebay or its stockholders” it writes the icahn proposal is not a new idea to the board or the company the board together with management and external advisers has assessed a spinoff of paypal several times and continues to believe that each of the company’s payments and commerce segments are stronger together than apart and see compelling benefits to keeping them together therefore the board recommends that you vote against the icahn proposal” from the looks of it the icahn letter doesn’t reveal materially any more information than previous statements from the activist investor but it’s mainly about making sure that they continue to have a fresh statement to match those of ebay it centers specifically on the sale of skype at what icahn believed was not a fair price he claims that donahoe and his advisers should not have spun off the asset to a consortium that included andreessen horowitz and should have instead settled outstanding intellectual property issues itself and sold the asset directly to microsoft or another interested party ebay has issued statements against these accusations already and so has marc andreessen ebay and key people associated with the company have also explained why the split does not make sense ebay has highlighted the synergies between the two companies and also how a lot of paypal’s growth is supported by ebay while reid hoffman argued convincingly about the choice between shortterm profit and longterm value creation paypal has recently started rolling out a new website and it accounted for around  of ebay’s  billion in revenues in  the timeline so far as outlined by ebay in its filing today on january   ebay received a notice from the icahn group indicating that it intended to nominate two icahn group employees to stand for election as directors to the ebay board of directors at ebay’s  annual meeting the notice also included a precatory proposal recommending that ebay act expeditiously to engage an investment banking firm to effectuate a spinoff of ebay’s payments segment into a separately traded company on january   the icahn group notified ebay by letter that it had filed a notice under the hartscottrodino antitrust improvements act of  or hsr act to enable the icahn group to acquire more than  million of ebay’s common stock including any shares that the icahn group may already own on each of january  and january   carl icahn and john donahoe ebay’s president and chief executive officer had telephone conversations concerning the icahn group’s perspectives on ebay and the upcoming annual meeting no agreements or understandings resulted from these conversations on january   in connection with ebay’s earnings release and associated conference call ebay publicly announced that it had received the notice from the icahn group regarding the  annual meeting on february   the icahn group delivered to ebay an update to its january   notice that included revised biographical information regarding one of the icahn group’s proposed nominees and indicated that the icahn group had acquired call options that conferred beneficial ownership of approximately  of ebay’s outstanding common stock on february   the federal trade commission granted early termination of the hsr act waiting period to the icahn group later that day the icahn group notified ebay by letter that it had exercised its call options resulting in the icahn group having beneficial ownership of approximately  of ebay’s outstanding common stock on february   mr icahn spoke with mr donahoe by telephone on february   the icahn group issued an open letter” to ebay stockholders that contained various allegations regarding ebay’s board and seeking support for the icahn proposal ebay responded later that day with a press release stating that the board welcomed discussion of the icahn proposal and rebutting the allegations contained in the icahn group’s letter on february   the icahn group submitted a demand to inspect the company’s books and records pursuant to section  of the delaware general corporation law the icahn demand” and on february   submitted a demand to inspect certain ebay stocklist materials ebay subsequently offered by letter to provide the icahn group with documents responsive to their section  demands in early march  mr donahoe and mr icahn spoke by telephone and subsequently had an inperson meeting during which additional representatives of both parties were present throughout january february and march the icahn group and the company published various solicitation materials image ebay'

### 3. Readability

#### Utils

In [11]:
pip install textstat

Collecting textstat
  Downloading textstat-0.7.2-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 3.0 MB/s
Collecting pyphen
  Downloading pyphen-0.12.0-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 28.5 MB/s
Installing collected packages: pyphen, textstat
Successfully installed pyphen-0.12.0 textstat-0.7.2

In [12]:
import spacy
from textstat.textstat import textstatistics,legacy_round

def break_sentences(text):
	nlp = spacy.load('en_core_web_sm')
	doc = nlp(text)
	return list(doc.sents)

def word_count(text):
	sentences = break_sentences(text)
	words = 0
	for sentence in sentences:
		words += len([token for token in sentence])
	return words

def sentence_count(text):
	sentences = break_sentences(text)
	return len(sentences)

def avg_sentence_length(text):
	words = word_count(text)
	sentences = sentence_count(text)
	average_sentence_length = float(words / sentences)
	return average_sentence_length

def syllables_count(word):
	return textstatistics().syllable_count(word)

def avg_syllables_per_word(text):
	syllable = syllables_count(text)
	words = word_count(text)
	ASPW = float(syllable) / float(words)
	return legacy_round(ASPW, 1)

def difficult_words(text):
	nlp = spacy.load('en_core_web_sm')
	doc = nlp(text)

	words = []
	sentences = break_sentences(text)
	for sentence in sentences:
		words += [str(token) for token in sentence]

	diff_words_set = set()
	
	for word in words:
		syllable_count = syllables_count(word)
		if word not in nlp.Defaults.stop_words and syllable_count >= 2:
			diff_words_set.add(word)

	return len(diff_words_set)

def poly_syllable_count(text):
	count = 0
	words = []
	sentences = break_sentences(text)
	for sentence in sentences:
		words += [token for token in sentence]
	

	for word in words:
		syllable_count = syllables_count(word)
		if syllable_count >= 3:
			count += 1
	return count

#### Flesch-Kincaid

In [13]:
def flesch_reading_ease(text):
	FRE = 206.835 - float(1.015 * avg_sentence_length(text)) -\
		float(84.6 * avg_syllables_per_word(text))
	return legacy_round(FRE, 2)

#### Dale-Chall

In [14]:
def dale_chall_readability_score(text):
  words = word_count(text)
  difficult_words_count = difficult_words(text)
  count = words - difficult_words_count
  
  if words > 0:
    per = float(count) / float(words) * 100
  
  diff_words = 100 - per
  raw_score = (0.1579 * diff_words) + (0.0496 * avg_sentence_length(text))
  
  if diff_words > 5:	
    raw_score += 3.6365
  
  return legacy_round(raw_score, 2)

#### Gunning Fog

In [100]:
def gunning_fog_score(text):
	per_diff_words = ((difficult_words(text) / word_count(text)) * 100) + 5
	grade = 0.4 * (avg_sentence_length(text) + per_diff_words)
	return grade

#### SMOG

In [16]:
def smog_index(text):
	if sentence_count(text) >= 3:
		poly_syllab = poly_syllable_count(text)
		SMOG = (1.043 * (30*(poly_syllab / sentence_count(text)))**0.5) \
				+ 3.1291
		return legacy_round(SMOG, 1)
	else:
		return 0

#### Tests

In [17]:
text_to_test = df_news_aggregator.loc[1000]['Content']

In [18]:
flesch_reading_ease(text_to_test)

91.57

In [19]:
dale_chall_readability_score(text_to_test)

6.84

In [101]:
gunning_fog_score(text_to_test)

16.121428571428574

### 4. n-grams

In [22]:
import re

def generate_ngrams(s, n):
    s = s.lower()
    s = re.sub(r'[^a-zA-Z0-9\s]', ' ', s)
    tokens = [token for token in s.split(" ") if token != ""]
    ngrams = zip(*[tokens[i:] for i in range(n)])
    return [" ".join(ngram) for ngram in ngrams]

In [23]:
unigram = generate_ngrams(text_to_test, 1)
bigram = generate_ngrams(text_to_test, 2)

### 5. Information Theory Approach to detect media bias

#### Testes News July

##### 5.1.3.1. Computar importância de todos os termos e descartar os de menor frequência

In [24]:
corpus_news_aggregator_left = ""
corpus_news_aggregator_right = ""

for index, row in df_news_july.iterrows():
    text = row['Content']
    if 'left' in row['Bias']:
        corpus_news_aggregator_left += preprocess(text)
    else: 
        corpus_news_aggregator_right += preprocess(text)

In [25]:
bag_of_words_news_aggregator_left = corpus_news_aggregator_left.split(' ')

In [26]:
bag_of_words_news_aggregator_right = corpus_news_aggregator_right.split(' ')

In [27]:
bag_of_words = set(bag_of_words_news_aggregator_left).union(set(bag_of_words_news_aggregator_right))

In [28]:
number_of_words_left = dict.fromkeys(bag_of_words, 0)
for word in bag_of_words_news_aggregator_left:
    number_of_words_left[word] += 1
df_left = pd.DataFrame(list(number_of_words_left.items()),columns = ['word','occ-left'])

number_of_words_right = dict.fromkeys(bag_of_words, 0)
for word in bag_of_words_news_aggregator_right:
    number_of_words_right[word] += 1
df_right = pd.DataFrame(list(number_of_words_right.items()),columns = ['word','occ-right'])

df_words = pd.merge(df_left, df_right, on='word')
df_words

                 word  occ-left  occ-right
0                         39579      35280
1          vocabulary         3          7
2      contestnewport         1          0
3         windsorwest         1          0
4          premarital         1          0
...               ...       ...        ...
94556         misfire         0          1
94557       magkaroon         1          0
94558     civilunions         1          0
94559           metro        59         60
94560          crotch         1          0

[94561 rows x 3 columns]

In [29]:
index = df_words[ df_words['occ-left'] + df_words['occ-right'] < 10 ].index
df_words.drop(index, inplace = True)
df_words

              word  occ-left  occ-right
0                      39579      35280
1       vocabulary         3          7
13         vatican        20         63
16            viii         1          9
17         initial       103        101
...            ...       ...        ...
94536   translator        10          1
94537     abruptly        15         10
94545  infiltrated         8          2
94547      coroner        11          2
94559        metro        59         60

[18030 rows x 3 columns]

##### 5.1.3.2. Construção da função de probabilidade do termo t sobre as classes

In [30]:
pd.options.mode.chained_assignment = None  # default='warn'

df_words['perc-left'] = 0.0
df_words['perc-right'] = 0.0

for i in df_words.index:
  total = df_words['occ-left'][i] + df_words['occ-right'][i]
  df_words['perc-left'][i] = round(float(df_words['occ-left'][i] / total), 3)
  df_words['perc-right'][i] = round(float(df_words['occ-right'][i] / total), 3)

df_words

              word  occ-left  occ-right  perc-left  perc-right
0                      39579      35280      0.529       0.471
1       vocabulary         3          7      0.300       0.700
13         vatican        20         63      0.241       0.759
16            viii         1          9      0.100       0.900
17         initial       103        101      0.505       0.495
...            ...       ...        ...        ...         ...
94536   translator        10          1      0.909       0.091
94537     abruptly        15         10      0.600       0.400
94545  infiltrated         8          2      0.800       0.200
94547      coroner        11          2      0.846       0.154
94559        metro        59         60      0.496       0.504

[18030 rows x 5 columns]

##### 5.1.3.3. Calcular a entropia de cada termo

In [31]:
df_words['shannon-entropy'] = 0.0
df_words

              word  occ-left  occ-right  perc-left  perc-right  shannon-entropy
0                      39579      35280      0.529       0.471              0.0
1       vocabulary         3          7      0.300       0.700              0.0
13         vatican        20         63      0.241       0.759              0.0
16            viii         1          9      0.100       0.900              0.0
17         initial       103        101      0.505       0.495              0.0
...            ...       ...        ...        ...         ...              ...
94536   translator        10          1      0.909       0.091              0.0
94537     abruptly        15         10      0.600       0.400              0.0
94545  infiltrated         8          2      0.800       0.200              0.0
94547      coroner        11          2      0.846       0.154              0.0
94559        metro        59         60      0.496       0.504              0.0

[18030 rows x 6 columns]

In [32]:
import numpy
import sys
numpy.seterr(divide = 'warn') 

def calculate_shannon_entropy(probs):
  sum = 0.0
  for prob in probs:
    if prob != 0:
      sum -= prob * numpy.log(prob)
  return sum / numpy.log(2)

In [33]:
df_words['shannon-entropy'] = 0.0

for i in df_words.index:
  shannon_entropy = round(calculate_shannon_entropy([df_words['perc-left'][i], df_words['perc-right'][i]]), 3)
  df_words['shannon-entropy'][i] = shannon_entropy

df_words

              word  occ-left  occ-right  perc-left  perc-right  shannon-entropy
0                      39579      35280      0.529       0.471            0.998
1       vocabulary         3          7      0.300       0.700            0.881
13         vatican        20         63      0.241       0.759            0.797
16            viii         1          9      0.100       0.900            0.469
17         initial       103        101      0.505       0.495            1.000
...            ...       ...        ...        ...         ...              ...
94536   translator        10          1      0.909       0.091            0.440
94537     abruptly        15         10      0.600       0.400            0.971
94545  infiltrated         8          2      0.800       0.200            0.722
94547      coroner        11          2      0.846       0.154            0.620
94559        metro        59         60      0.496       0.504            1.000

[18030 rows x 6 columns]

In [34]:
df_trump = df_words.loc[df_words['word'] == 'trump']
df_trump

        word  occ-left  occ-right  perc-left  perc-right  shannon-entropy
43229  trump      3951       2443      0.618       0.382            0.959

In [35]:
df_soros = df_words.loc[df_words['word'] == 'soros']
df_soros

        word  occ-left  occ-right  perc-left  perc-right  shannon-entropy
87643  soros         4         38      0.095       0.905            0.453

##### 5.1.3.4. Selecionar vocabulário de referência

In [36]:
df_reference_vocabulary = df_words.nsmallest(10000, ['shannon-entropy'])
df_reference_vocabulary

                    word  occ-left  ...  perc-right  shannon-entropy
73                   osp         0  ...       1.000            0.000
82            rebootcamp         0  ...       1.000            0.000
121              rutgers        10  ...       0.000            0.000
155              shreves         0  ...       1.000            0.000
156    modulebodytextall         0  ...       1.000            0.000
...                  ...       ...  ...         ...              ...
82332            awkward        22  ...       0.389            0.964
83310            chanted         7  ...       0.611            0.964
84748         livelihood        11  ...       0.389            0.964
85167           randomly        11  ...       0.389            0.964
86134               pale        11  ...       0.389            0.964

[10000 rows x 6 columns]

##### 5.1.4 Modelagem da função de probabilidade de todos os termos t ∈ VR

In [37]:
df_news_july

            Source  ...         Bias
0     berkeleyside  ...  left-center
1     berkeleyside  ...  left-center
2     berkeleyside  ...  left-center
3     berkeleyside  ...  left-center
4     berkeleyside  ...  left-center
...            ...  ...          ...
4955      theblaze  ...        right
4956      theblaze  ...        right
4957      theblaze  ...        right
4958      theblaze  ...        right
4959      theblaze  ...        right

[4960 rows x 4 columns]

In [38]:
df_portals_content_names = ["Source", "Content", "Bias"]
df_portals_content = pd.DataFrame(columns = df_portals_content_names)
df_portals_content

Empty DataFrame
Columns: [Source, Content, Bias]
Index: []

In [39]:
last_source = "berkeleyside"
df_portals_content = df_portals_content.append({'Source': last_source, 'Content': "", "Bias": "left"}, ignore_index=True)

for index, row in df_news_july.iterrows():
  source = row['Source']
  bias = ""
  if "left" in row['Bias']:
    bias = "left"
  else:
    bias = "right"
  if source != last_source:
    df_portals_content = df_portals_content.append({'Source': source, 'Content': "", "Bias": bias}, ignore_index=True)
    last_source = source

df_portals_content

                   Source Content   Bias
0            berkeleyside           left
1         migrationpolicy           left
2                deadline           left
3         washingtonpress           left
4    thehindubusinessline          right
..                    ...     ...    ...
243          sun-sentinel          right
244            tasnimnews          right
245             nccivitas          right
246       mexiconewsdaily           left
247              theblaze          right

[248 rows x 3 columns]

In [40]:
for index, row in df_portals_content.iterrows():
  source = row['Source']
  content = ""
  rows_1 = df_news_july[df_news_july['Source'] == source]
  for index_1, row_1 in rows_1.iterrows():
    content += preprocess(row_1['Content'])
  df_portals_content.at[index,'Content'] = content

In [41]:
df_portals_content

                   Source  ...   Bias
0            berkeleyside  ...   left
1         migrationpolicy  ...   left
2                deadline  ...   left
3         washingtonpress  ...   left
4    thehindubusinessline  ...  right
..                    ...  ...    ...
243          sun-sentinel  ...  right
244            tasnimnews  ...  right
245             nccivitas  ...  right
246       mexiconewsdaily  ...   left
247              theblaze  ...  right

[248 rows x 3 columns]

In [42]:
df_portals_names = ["Source", "Bias"]
df_portals = pd.DataFrame(columns = df_portals_names)
df_portals

Empty DataFrame
Columns: [Source, Bias]
Index: []

In [43]:
from collections import Counter

for index, row in df_portals_content.iterrows():
  df_portals.at[index, 'Source'] = row['Source']
  bias = ""
  if "left" in row['Bias']:
    bias = "left"
  else:
    bias = "right"
  df_portals.at[index, 'Bias'] = bias
  portal_content = row['Content']
  for index_1, row_1 in df_reference_vocabulary.iterrows():
    word = row_1['word']
    if row['Source'] == "berkeleyside":
      df_portals[word] = 0.2
    #counter = Counter(portal_content)
    frequency = portal_content.count(word)
    df_portals.at[index, word] = frequency

In [44]:
df_portals

                   Source   Bias   osp  ...  livelihood  randomly  pale
0            berkeleyside   left   6.0  ...         0.0       0.0   1.0
1         migrationpolicy   left   4.0  ...         1.0       0.0   0.0
2                deadline   left   1.0  ...         0.0       0.0   0.0
3         washingtonpress   left   4.0  ...         0.0       0.0   3.0
4    thehindubusinessline  right   6.0  ...         1.0       0.0   0.0
..                    ...    ...   ...  ...         ...       ...   ...
243          sun-sentinel  right   2.0  ...         0.0       0.0   0.0
244            tasnimnews  right   0.0  ...         0.0       0.0  56.0
245             nccivitas  right  41.0  ...         0.0       0.0   0.0
246       mexiconewsdaily   left   1.0  ...         1.0       0.0   1.0
247              theblaze  right   3.0  ...         0.0       0.0   0.0

[248 rows x 10002 columns]

In [45]:
for index, row in df_portals.iterrows():
  sum_row = row[2:].sum()
  for name, value in row.iteritems():
    if type(value) == float:
      df_portals.at[index, name] = value / sum_row

df_portals

                   Source   Bias       osp  ...  livelihood  randomly      pale
0            berkeleyside   left  0.000140  ...    0.000000       0.0  0.000023
1         migrationpolicy   left  0.000149  ...    0.000037       0.0  0.000000
2                deadline   left  0.000042  ...    0.000000       0.0  0.000000
3         washingtonpress   left  0.000117  ...    0.000000       0.0  0.000088
4    thehindubusinessline  right  0.000171  ...    0.000029       0.0  0.000000
..                    ...    ...       ...  ...         ...       ...       ...
243          sun-sentinel  right  0.000240  ...    0.000000       0.0  0.000000
244            tasnimnews  right  0.000000  ...    0.000000       0.0  0.003018
245             nccivitas  right  0.000914  ...    0.000000       0.0  0.000000
246       mexiconewsdaily   left  0.000057  ...    0.000057       0.0  0.000057
247              theblaze  right  0.000142  ...    0.000000       0.0  0.000000

[248 rows x 10002 columns]

##### 5.1.4 Modelagem da função de probabilidade das classes de viés

In [46]:
df_portals_reference_names = ["Bias", "Content"]
df_portals_reference = pd.DataFrame(columns = df_portals_reference_names)
df_portals_reference = df_portals_reference.append({"Bias": "left", 'Content': corpus_news_aggregator_left}, ignore_index=True)
df_portals_reference = df_portals_reference.append({"Bias": "right", 'Content': corpus_news_aggregator_right,}, ignore_index=True)
df_portals_reference

    Bias                                            Content
0   left  when the homeowner did not voluntarily repair ...
1  right  a total of five girls of power generating comp...

In [47]:
df_portals_prob_names = ["Bias"]
df_portals_reference_prob = pd.DataFrame(columns = df_portals_prob_names)
df_portals_reference_prob

Empty DataFrame
Columns: [Bias]
Index: []

In [48]:
from collections import Counter

for index, row in df_portals_reference.iterrows():
  df_portals_reference_prob.at[index, 'Bias'] = row['Bias']
  portal_content = row['Content']
  for index_1, row_1 in df_reference_vocabulary.iterrows():
    word = row_1['word']
    if row['Bias'] == "left":
      df_portals_reference_prob[word] = 0.2
    frequency = portal_content.count(word)
    df_portals_reference_prob.at[index, word] = frequency

df_portals_reference_prob

    Bias    osp  rebootcamp  rutgers  ...  chanted  livelihood  randomly   pale
0   left  896.0         0.0     10.0  ...     52.0        23.0      11.0  341.0
1  right  703.0        16.0      0.0  ...     13.0        16.0       7.0  182.0

[2 rows x 10001 columns]

In [49]:
for index, row in df_portals_reference_prob.iterrows():
  sum_row = row[1:].sum()
  for name, value in row.iteritems():
    if type(value) == float:
      df_portals_reference_prob.at[index, name] = value / sum_row

df_portals_reference_prob

    Bias       osp  rebootcamp  ...  livelihood  randomly      pale
0   left  0.000169    0.000000  ...    0.000004  0.000002  0.000064
1  right  0.000176    0.000004  ...    0.000004  0.000002  0.000046

[2 rows x 10001 columns]

##### 5.1.5 Computar dissimilaridade entre portais e classes de viés

###### Utils

In [50]:
from math import log2
from math import sqrt
from numpy import asarray
 
def kl_divergence(p, q):
	return sum(p[i] * log2(p[i]/q[i]) if q[i] != 0 and p[i] != 0 else p[i] for i in range(len(p)))

'''
def js_divergence(p, q):
	m = 0.5 * (p + q)
	return 0.5 * kl_divergence(p, m) + 0.5 * kl_divergence(q, m)
'''

def js_divergence(p, q):
  # calculate_shannon_entropy(probs)
  m = 0.5 * (p + q)
  a = (calculate_shannon_entropy(p) + calculate_shannon_entropy(q)) / 2
  b = calculate_shannon_entropy(m)
  return a - b
 
p = asarray([0.10, 0.40, 0.50])
q = asarray([0.80, 0.15, 0.05])

js_pq = js_divergence(p, q)
print('JS(P || Q) divergence: %.3f bits' % js_pq)

js_qp = js_divergence(q, p)
print('JS(Q || P) divergence: %.3f bits' % js_qp)

JS(P || Q) divergence: -0.420 bits
JS(Q || P) divergence: -0.420 bits

###### Dissimilaridade de portais

In [51]:
df_names = ["Source", "Divergence-Left", "Divergence-Right", "Bias"]
df_portals_divergence = pd.DataFrame(columns = df_names)
df_portals_divergence

Empty DataFrame
Columns: [Source, Divergence-Left, Divergence-Right, Bias]
Index: []

In [52]:
for index, row in df_portals.iterrows():
  source = row['Source']
  bias = row['Bias']
  values = row.iloc[2:].values
  div_left = 0.0
  div_right = 0.0
  for index_1, row_1 in df_portals_reference_prob.iterrows():
    if index_1 == 0:
      values_left = row_1.iloc[1:].values
      div_left = js_divergence(values, values_left)
    else:
      values_right = row_1.iloc[1:].values
      div_right = js_divergence(values, values_right)
  df_portals_divergence = df_portals_divergence.append({'Source': source, 'Divergence-Left': div_left, 'Divergence-Right': div_right, "Bias": bias}, ignore_index=True)

df_portals_divergence

                   Source  Divergence-Left  Divergence-Right   Bias
0            berkeleyside        -0.057572         -0.057251   left
1         migrationpolicy        -0.097006         -0.097514   left
2                deadline        -0.067894         -0.066433   left
3         washingtonpress        -0.060350         -0.059444   left
4    thehindubusinessline        -0.100337         -0.094737  right
..                    ...              ...               ...    ...
243          sun-sentinel        -0.097275         -0.091164  right
244            tasnimnews        -0.076542         -0.073146  right
245             nccivitas        -0.067241         -0.062980  right
246       mexiconewsdaily        -0.075912         -0.074011   left
247              theblaze        -0.073935         -0.069058  right

[248 rows x 4 columns]

##### 5.1.6 Classificação

In [53]:
X = df_portals_divergence.drop(['Source', 'Bias'], axis=1)
y = df_portals_divergence['Bias']

print(X)

     Divergence-Left  Divergence-Right
0          -0.057572         -0.057251
1          -0.097006         -0.097514
2          -0.067894         -0.066433
3          -0.060350         -0.059444
4          -0.100337         -0.094737
..               ...               ...
243        -0.097275         -0.091164
244        -0.076542         -0.073146
245        -0.067241         -0.062980
246        -0.075912         -0.074011
247        -0.073935         -0.069058

[248 rows x 2 columns]

In [54]:
print(y)

0       left
1       left
2       left
3       left
4      right
       ...
243    right
244    right
245    right
246     left
247    right
Name: Bias, Length: 248, dtype: object

In [86]:
from numpy import mean
from numpy import std
from pandas import read_csv
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

cv = LeaveOneOut()
model = SVC(kernel='rbf', probability=True, C=1)
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.871 (0.335)